.app-bar {
  &__drawer {
    background-color: #eeeeee;
    color: #0000008a;
    height: 100vh;

    .dark & {
      color: #eeeeee;
      background-color: #20262d;
    }

    hr {
      border-color: #3b3b3b8a;
    }
  }

  .dark &__mode-switch {
    color: #eeeeee;
  }

  html[dir='rtl'] &__menu-btn {
    margin-left: 16px;
    margin-right: -12px;
  }
}

html[dir='rtl'] .app-bar__mode-switch svg {
  margin-left: 16px;
  margin-right: unset;
}

.app-theme-toggle {
  margin-left: auto;
}
