@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #eeeeee;
  color: #0000008a;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  transition: background-color 0.5s, color 0.5s;

  &.dark {
    background-color: #20262d;
    color: #eeeeee;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
